Connected Services/CreditorServiceWcf/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://EnterpriseServices.CommunicationService.com/COA.EnterpriseServices.Communication" elementFormDefault="qualified" targetNamespace="http://EnterpriseServices.CommunicationService.com/COA.EnterpriseServices.Communication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://enterpriseservices/CreditorService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CommunicationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestID" type="xs:long" />
      <xs:element minOccurs="0" name="RequestStatus" type="tns:RequestStatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommunicationResponse" nillable="true" type="tns:CommunicationResponse" />
  <xs:simpleType name="RequestStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Submitted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Completed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Failed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Processing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RequestStatusType" nillable="true" type="tns:RequestStatusType" />
</xs:schema>